<section class="section background">
  <div class="section__title">Background</div>
  <div class="section__content">
    <p>
      I'm a Senior at The Woodlands Highschool currently applying to college. I program the robots for our school's FTC Robotics Team, the 'Pastabots'.
      In my free time, I enjoy programming just about anything I can think in a variety of languages with a variety of tools, frameworks and services.
    </p>

    <p>
      I truly enjoy software engineering - the new languages, new styles, new frameworks, new tools - they're all so cool to me.
      <strong>But better than all of that</strong> is the people I get to program with. I don't live in an area with easy access to a group
      of strong like-minded students. That's why I treasure the few development experiences with fellow student developers so much.
    </p>

    <p>
      <strong>When I'm not in front of a computer screen</strong>, I'm probably taking photos, playing videogames or thinking about whatever I want to program next.
    </p>

    <!-- {% include employment-status.html %} -->
  </div>
</section>
